# Compiled Object files
*.slo
*.lo
*.o

# Compiled Dynamic libraries
*.so
*.dylib

# Compiled Static libraries
*.lai
*.la
*.a

# Compiled executables
*.exe

# SCons artifacts
.sconsign.dblite

# Emacs stuff
TAGS
*~
